/* 基本の背景色と全体の設定 */
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* メインセクションの設定 */
main {
  background-color: white;
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
}

/* セクションタイトルのスタイル */
.section-title {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 2px solid #6c757d;
  border-bottom: 2px solid #6c757d;
}

/* Planセクションの設定 */
#plan {
  padding: 50px 20px;
  text-align: center;
}

.plan-content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.plan-item {
  text-align: left;
}

.plan-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.plan-item ul {
  list-style: none;
  padding: 0;
}

.plan-item li {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.6;
}

/* Genre, Area, Contactセクションの設定 */
#genre, #area, #contact {
  padding: 50px 20px;
  text-align: center;
}

#genre ul, #area ul {
  list-style: none;
  padding: 0;
  text-align: left;
  display: inline-block;
}

#genre li, #area li {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.6;
  margin-bottom: 10px;
}

#contact p {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;
}

/* スペースを調整 */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* ヘッダー */
.header {
  background-color: rgb(255, 255, 255);
  margin-top: -30px;
  width: 100%;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__inner {
  padding: 0px 10px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
}

/* ヘッダーのロゴ部分 */
.header__title {
  padding-top: 100px;
  padding-bottom: 120px;
  padding-left: 15px;
}

.header-title a {
  color: rgb(81, 77, 77);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

/* ハンバーガーメニュー */
.header__hamburger {
  width: 48px;
  height: 100%;
}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000000da;
  display: block;
  margin-bottom: 6px;
}

.hamburger.active span:nth-of-type(1) {
  transform: rotate(45deg);
  margin-bottom: 0;
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  margin-top: 0;
}
