/* 基本の背景色と全体の設定 */
body {
  background-color: white; /* 背景を白に */
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* メインセクションの設定 */
main {
  background-color: white; /* 背景色を白に */
  width: 100%; /* 横幅をデバイスに合わせる */
  padding-top: 100px; /* ヘッダーとの重なり防止 */
}

/* Aboutセクションの設定 */
#about {
  padding: 50px 20px;
  background-color: #f9f9f9; /* 背景色 */
  text-align: center;
  width: 100%; /* 横幅を100%に */
  max-width: 100%; /* 最大幅も100%に */
  box-sizing: border-box; /* パディングが幅に含まれるように */
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text, .about-text-en {
  font-size: 1rem;
  color: #6c757d; /* グレー */
  line-height: 1.6;
  margin: 0 auto;
  max-width: 800px; /* 最大幅を800pxに制限 */
  text-align: center;
}

.about-text-en {
  font-family: 'Lora', serif; /* 英語用フォント */
  font-style: regular;
}

#about .about-text br {
  margin-bottom: 10px;
}

/* SP対応 */
@media screen and (max-width: 600px) {
  #about {
    padding: 30px 10px; /* パディングを調整 */
  }

  .about-text {
    font-size: 0.9rem; /* フォントサイズを調整 */
  }
}
