@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
  font-family: 'Noto Serif', serif; /* 日本語フォント */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}

.site-title a {
  display: block;
}

.nav-items__item a {
  color: #24292e;
}

.nav-items__item a:hover {
  opacity: 0.7;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px;
  padding: 0 4%;
  text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 30px;
}

#header li a {
  color: #24292e;
}

#header li a:hover {
  opacity: 0.7;
}

/*-------------------------------------------
About Me Section
-------------------------------------------*/
#about {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text,
.about-text-en {
  font-size: 1rem;
  color: #6c757d; /* グレー */
  line-height: 1.6;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.about-text-en {
  font-family: 'Lora', serif; /* 英語フォント */
  font-style: italic;
}

#about .about-text br {
  margin-bottom: 10px;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
  #about {
    padding: 30px 10px;
  }

  .about-text {
    font-size: 0.9rem;
  }
}
